/*********Estilizaçao LNKTREE*********/

body{
    font-family: "Trebucht MS", Helvetica, sans-serif;
   background-color: #fff;
   background: url(imagens/cup-of-coffee-1280537_1920.jpg);
}

#container{
    width: 400px;
    height: 350px;
    background-color: rgba(180, 179, 179, 0.2);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.3);
       
}




#info{
    position: relative;
    left: 25px;
    padding-left: 10px;
    right: 0;
    top: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 30px;
    background: url(imagens/computador.png) no-repeat left;
    background-size: 50px;
    
}

#botao_1{
position: relative;
left: auto;
right: 0;
top: 80px;
border-radius: 20px;
width: 200px;
font-size: 20px;
cursor: pointer;
box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.3);

}

 a{
    text-decoration: none;
  }

#botao_2{
    position: relative;
    left: auto;
    right: 0;
    top: 125px;
    border-radius: 20px;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.3);
    
   
}


/**************ESTILIZAÇAO SITE******************/
.body_site{
background: #fff;



}

#cabeçalho{
    border: 1px solid red;
    height: 180px;
    width: 28em;
    position: relative;
    font-size: 50px;
    background-color: rgba(180, 179, 179, 0.2);;
    
}

#text{
border: 1px solid red;
display: flex;
align-items: center;
justify-content: center;

}

















